<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
    Congratulations <%= @user.name%>! 
    You've screwed! You have to solve darn boring stuf... Shame on You!.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great 'bueehhehe' day!</p>
  </body>
</html>
