development:
  adapter: postgresql
  database: point_it_dev
  encoding: unicode
  host: localhost
  pool: 5
  timeout: 5000
  username: point_it


test:
  adapter: postgresql
  encoding: unicode
  database: point_it_test
  host: localhost
  pool: 5
  username: point_it

production:
  adapter: postgresql
  encoding: unicode
  database: point_it_production
  host: localhost
  pool: 5
  username: point_it
