// Example using spacelab bootswatch

// First import bootswatch variables
@import "bootswatch/spacelab/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

html {
  margin: 0 auto !important;
  float: none !important;
  text-align: center;
  width: 960px;
}

// And finally bootswatch style itself
@import "bootswatch/spacelab/bootswatch";

// Other self-defined styles goes below

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.pagination-centered{text-align:center;}

